.snh_group
   --color: #8FD3F5;
.snh
   --color: #8FD3F5;
.gnz
   --color: #9EB922;
.bej
   --color: #FE3F68;
.ckg
   --color: #9D5D02;
.ckgn
   --color: #FFBA07;
.shy
   --color: #D601BE;
.sii
   --color: #97CDE9;
.nii
   --color: #AA85B9;
.hii
   --color: #EA972D;
.x
   --color: #B2D33C;
.xii
   --color: #03C070;
.ft
   --color: #E10164;
.g
   --color: #ABC937;
.niii
   --color: #F8D53B;
.z
   --color: #E7667C;
.class4
   --color: #205C50;
.class8
   --color: #BB3C29;
.b
   --color: #E6356C;
.e
   --color: #29B8B6;
.j
   --color: #0071CF;
.c
   --color: #9D6123;
.k
   --color: #FF5043;
.siii
   --color: #E200CC;
.hiii
   --color: #521A71;
.undefined
   --color: #A8AFB5;

.鞠婧祎
   --color: blue;
.李艺彤
   --color: purple;
.许佳琪
   --color: #950827;
.蒋芸
   --color: #39C5BC;
.宋昕冉
   --color: #fc7f3c;
.王晓佳
   --color: #00e500;
.沈梦瑶
   --color: #AA65DA;
.袁一琦
   --color: #004AAD;