.vpanel
  margin-top: 4rem;
  margin-bottom: 1rem;
  
.vpower
  display: none;

.vsys
  display: none!important;

.vmeta 
  display: contents;
  color: $color-meta;
  
.vhead
  display: contents;
  
.vat
  margin-right: 2em;
  
.vcontent
  p
    text-align: left;
    color: $color-text;

.vnick
  color: $color-accent-1;
  
.vheader
  .vinput
    border-bottom: 1px $color-accent-1 dashed!important;
  
.vwrap
    border: 1px solid $color-accent-1!important;

.vcard, .vcontent
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-top: 0;
 
.vcards
  margin-top: 0.5rem;