#tag-cloud
  .tag-cloud-title
    color: $color-meta
  .tag-cloud-tags
    clear: both
    text-align: center
    a
      color: var(--color)
      background-image: none
      display: inline-block
      margin: 10px
    .undefined
      display: none
    ._18s
      display: none
    .ep
      display: none

.archive
  display: table
  border: 1px solid $color-accent-1
  text-align: center
  margin-bottom: 10%;
  
  .archive-phase-item
    border: 1px solid #2bbc8a;

  th
    background-color: #2bbc8a54
    font-weight: bold

.secondStage
  th
    background-color: #1fcac254!important;

.archive-profile
  display: block;
  text-align: -webkit-center;
  margin-bottom: 5%;
  
  img
    max-width: 200px
    margin: 0 auto
  p
    color: $color-meta
    text-align: -webkit-center