<section id="writing">
    <div id="tag-cloud">
            <div class="tag-cloud-title">
                <% var visibleTags = 0 %>
                <% site.tags.each(function(tag){ %>
                  <% if (tag.length) { %>
                    <% visibleTags += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.tag_cloud', visibleTags) %>
            </div>
            <div class="tag-cloud-tags">
              <%- tagcloud({min_font: 12, max_font: 30, amount: 300, class: 'cloud-item', orderby: 'rand'}) %>
            </div>
          </div>
          <p><i class="fas fa-flag" style="
    margin-right: 10px;
"></i>河曲收录远远未完成 同志仍需努力
          call词个人向?(小括号中内容是个人厄介用)不过一般可通用<br>投稿：lawaxilawaxi@gmail.com (建议excel或md形式)</p>
</section>

